<aka-route-activator></aka-route-activator>
<aka-breadcrumb-actions [actions]="actionGroup"></aka-breadcrumb-actions>
<ps-metal-query [query]="query" [rowActions]="rowActions">
  <ps-metal-query-filter [query]="query"></ps-metal-query-filter>

  <ng-container psQCell="Name">
    <td psQCol *psQBody="let variant; as: type">
      <a [routerLink]="['./' + variant.id]">
        <span>{{ variant.name }}</span>
      </a>
    </td>
  </ng-container>

  <ng-container psQCell="Price">
    <td psQCol *psQBody="let variant; as: type">
      {{ variant.price | currency }}
    </td>
  </ng-container>

  <ng-container psQCell="Group">
    <td psQCol *psQBody="let variant; as: type">
      {{ variant.group.name }}
    </td>
  </ng-container>

  <ng-container psQCell="Status">
    <td psQCol *psQBody="let variant; as: type">
      <aka-state-label [state]="variant.status"></aka-state-label>
    </td>
  </ng-container>

  <ng-container psQCell="Created At">
    <td psQCol *psQBody="let variant; as: type">
      <aka-date-time [date]="variant.created_at"></aka-date-time>
    </td>
  </ng-container>
</ps-metal-query>

<aka-dialog #createDialog="akaDialog" class="small">
  <ng-container *akaDialogContent>
    <aka-variant-form
      [record]="createDialog._data"
      (onClose)="createDialog.hide()"
      (onSuccess)="onSuccess()"
    ></aka-variant-form>
  </ng-container>
</aka-dialog>
