<aka-route-activator></aka-route-activator>
<aka-breadcrumb-actions [actions]="actionGroup"></aka-breadcrumb-actions>
<aka-table-list #tableList [user]="auth.currentUser" [rowActions]="rowActions" [bulkActions]="bulkActions"></aka-table-list>
<aka-dialog #createDialog="akaDialog" class="small">
  <ng-container *akaDialogContent>
    <aka-table-form
      [user]="auth.currentUser"
      [record]="createDialog._data"
      (onClose)="createDialog.hide()"
      (onSuccess)="onSuccess()"
    ></aka-table-form>
  </ng-container>
</aka-dialog>
