<!-- Navigation -->
<ng-container *ngIf="isScreenSmall">
  <aka-vertical-navigation class="dark bg-gray-900" [name]="'mainNavigation'" [navigation]="navigations">
    <!-- Navigation header hook -->
    <ng-container akaVerticalNavigationContentHeader>
      <!-- Logo -->
      <div class="flex h-20 items-center px-8 pt-6">
        <img class="w-24" src="assets/images/logo/logo-text-primary-white.png" alt="Logo image" />
      </div>
    </ng-container>
  </aka-vertical-navigation>
</ng-container>

<!-- Wrapper -->
<div class="flex w-full min-w-0 flex-auto flex-col items-center bg-gray-200 dark:bg-card">
  <!-- Header -->
  <div
    class="relative z-49 flex w-full justify-center overflow-hidden"
    [class.bg-primary-700]="auth.isAuthenticated()"
    [class.dark:bg-primary-900]="staffAuth.isAuthenticated()"
    [class.bg-primary-300]="staffAuth.isAuthenticated()"
  >
    <div
      class="bg-card w-full max-w-360 overflow-hidden border-b sm:m-8 sm:mb-0 sm:rounded-t-xl sm:py-3 sm:shadow-2xl md:mx-8 md:mt-12 md:pb-3 md:pt-4"
    >
      <!-- Top bar -->
      <div class="relative flex h-16 flex-auto items-center px-4 md:px-6">
        <!-- Logo -->
        <ng-container *ngIf="!isScreenSmall">
          <div class="mx-2 flex items-center gap-8">
            <!-- Light version -->
            <img class="w-28 dark:hidden" src="assets/images/logo/logo-text-primary.png" alt="Logo image" />
            <!-- Dark version -->
            <img class="hidden w-28 dark:flex" src="assets/images/logo/logo-text-secondary-white.png" alt="Logo image" />

            <div
              *ngIf="auth.isAuthenticated()"
              class="account-badge cursor-pointer pl-0"
              [matTooltip]="'Click to Change'"
              (click)="openChangeLocationDialog()"
            >
              <div class="account-icon">
                <mat-icon class="text-gray-600 dark:text-gray-300" icIcon="roundApartment"></mat-icon>
              </div>
              <div class="account-info">
                <ng-container *ngIf="currentLocation$ | async">
                  <span class="account-title">Current Location</span>
                  <span class="account-desc">{{ (currentLocation$ | async).name }}</span>
                </ng-container>
                <ng-container *ngIf="!(currentLocation$ | async)">
                  <span class="account-desc">Choose Location</span>
                </ng-container>
              </div>
            </div>

            <div *ngIf="staffAuth.isAuthenticated()" class="account-badge pl-0">
              <div class="account-icon">
                <mat-icon class="text-gray-600 dark:text-gray-300" icIcon="roundApartment"></mat-icon>
              </div>
              <div class="account-info">
                <ng-container *ngIf="staffLocation$ | async">
                  <span class="account-title">Current Location</span>
                  <span class="account-desc">{{ (staffLocation$ | async).name }}</span>
                </ng-container>
                <ng-container *ngIf="!(staffLocation$ | async)">
                  <span class="account-desc">Choose Location</span>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- Navigation toggle button -->
        <ng-container *ngIf="isScreenSmall">
          <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
            <mat-icon [icIcon]="'menuIcon'"></mat-icon>
          </button>
        </ng-container>
        <!-- Components -->
        <div class="ml-auto flex items-center space-x-2 pl-2">
          <!-- <search [appearance]="'bar'"></search>
                    <shortcuts [shortcuts]="data.shortcuts"></shortcuts>
                    <messages [messages]="data.messages"></messages> -->
          <toggle-dark-mode [iconOnly]="true"></toggle-dark-mode>
          <notifications></notifications>
          <aka-owner-user-menu *ngIf="auth.isAuthenticated()"></aka-owner-user-menu>
          <aka-staff-user-menu *ngIf="staffAuth.isAuthenticated()"></aka-staff-user-menu>
        </div>
      </div>
      <!-- Bottom bar -->
      <ng-container *ngIf="!isScreenSmall">
        <div class="relative flex h-16 flex-auto items-center px-4">
          <aka-horizontal-navigation [name]="'mainNavigation'" [navigation]="navigations"></aka-horizontal-navigation>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Content -->
  <!-- <div class="flex w-full flex-auto justify-center sm:px-8">
    <div class="bg-default flex w-full flex-auto flex-col sm:max-w-360 sm:overflow-hidden sm:shadow-xl"> -->
  <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
                 Otherwise, layout changes won't be registered and the view won't be updated! -->
  <!-- <router-outlet *ngIf="true"></router-outlet>
    </div>
  </div> -->

  <!-- Content -->
  <div class="flex w-full flex-auto justify-center sm:px-8">
    <div class="bg-default relative flex w-full flex-auto flex-col sm:max-w-360 sm:overflow-hidden sm:shadow-xl">
      <!-- Breadcrumbs -->
      <aka-breadcrumbs></aka-breadcrumbs>

      <!-- Main -->
      <div class="flex-auto overflow-y-auto" cdkScrollable>
        <!-- SUB-PAGES WILL LOAD HERE -->
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
   Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
      </div>
    </div>
  </div>
</div>

<aka-dialog title="Change Location" #locationDialog="akaDialog" class="small fixed-size">
  <ng-container *akaDialogContent>
    <aka-select-location
      placeholder="Choose Location"
      [(ngModel)]="formData.location"
      name="location"
      [required]="false"
      fieldClass="w-full aka-mat-dense"
    ></aka-select-location>
    <div class="mt-4 flex flex-row justify-end">
      <button mat-button type="button" (click)="locationDialog.hide()" [disabled]="formData.$loading">CANCEL</button>
      <button
        mat-flat-button
        type="submit"
        class="ml-3"
        color="primary"
        [disabled]="formData.$invalid || formData.$loading"
        [akaLoading]="formData.$loading"
        (click)="changeLocation()"
      >
        SAVE
      </button>
    </div>
  </ng-container>
</aka-dialog>
