<div class="flex flex-col gap-3">
  <div class="flex items-center justify-between">
    <h1 class="text-xl font-bold">New Restaurants</h1>

    <a [routerLink]="['/restaurants', 'list']" class="text-primary">See All</a>
  </div>

  <div class="grid grid-cols-2 gap-6 md:gap-3">
    <ng-container *ngFor="let item of items">
      <a [routerLink]="['/restaurants', 'id']" class="shadow-indigo-100 block rounded-lg shadow-sm">
        <img
          alt=""
          src="https://images.unsplash.com/photo-1613545325278-f24b0cae1224?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
          class="h-24 w-full rounded-md object-cover md:h-56"
        />

        <div class="mt-2">
          <dl>
            <div>
              <dt class="sr-only">Price</dt>

              <dd class="text-sm text-gray-500">$240,000</dd>
            </div>

            <div>
              <dt class="sr-only">Address</dt>

              <dd class="font-medium">123 Wallaby Avenue, Park Road</dd>
            </div>
          </dl>
        </div>
      </a>
    </ng-container>
  </div>
</div>
