<form role="form" [akaForm]="formData" (ngSubmit)="execute()">
  <div class="flex flex-col">
    <mat-form-field class="aka-mat-dense w-full" akaProps>
      <mat-label>Name</mat-label>
      <input id="name" type="text" name="name" [(ngModel)]="formData.name" matInput />
    </mat-form-field>

    <mat-form-field class="aka-mat-dense w-full" akaProps>
      <mat-label>Address</mat-label>
      <textarea id="address" name="address" [(ngModel)]="formData.address" matInput></textarea>
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="formData.is_default" name="is_default" color="primary">Default</mat-slide-toggle>
  </div>

  <div class="mt-4 flex items-center justify-end">
    <button mat-button type="button" tabindex="-1" (click)="cancel()" [disabled]="formData.$loading">CANCEL</button>
    <button
      mat-flat-button
      color="primary"
      class="ml-3"
      [disabled]="formData.$disabled || formData.$loading"
      [akaLoading]="formData.$loading"
      type="submit"
    >
      SAVE
    </button>
  </div>
</form>
