<div class="auth-container">
  <div class="auth-wrapper w-min">
    <div class="auth-content">
      <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
        <ng-container *ngIf="isSuccess; else formLayout">
          <!-- Title -->
          <div class="mt-8 text-4xl font-extrabold leading-tight tracking-tight">
            {{ 'pages.auth.forgotPassword.checkYourEmail' | translate }}
          </div>
          <div class="mt-0.5 flex items-baseline font-medium">
            <div [innerHTML]="'pages.auth.forgotPassword.emailSent' | translate: { email: formData.email }"></div>
          </div>
        </ng-container>

        <ng-template #formLayout>
          <!-- Title -->
          <div class="mt-8 text-4xl font-extrabold leading-tight tracking-tight">
            {{ 'pages.auth.forgotPassword.title' | translate }}
          </div>
          <div class="mt-0.5 flex items-baseline font-medium">
            <div>{{ 'pages.auth.forgotPassword.subtitle' | translate }}</div>
          </div>

          <form role="form" [akaForm]="formData" (ngSubmit)="submit()" class="mt-8">
            <!-- Email field -->
            <mat-form-field class="w-full" akaProps>
              <mat-label>{{ 'general.form.emailAddress' | translate }}</mat-label>
              <input id="email" type="email" name="email" [(ngModel)]="formData.email" akaAutofocus matInput />
            </mat-form-field>

            <!-- Submit button -->
            <button
              type="submit"
              class="aka-mat-button-large mt-6 w-full"
              mat-flat-button
              [color]="'primary'"
              [disabled]="formData.$disabled || formData.$loading"
              [akaLoading]="formData.$loading"
            >
              {{ 'general.button.continue' | translate }}
            </button>
          </form>
        </ng-template>

        <a class="aka-mat-button-large mt-3 w-full" [class.mt-6]="isSuccess" mat-stroked-button [routerLink]="['/login']">
          {{ (isSuccess ? 'general.button.backToLogin' : 'general.button.cancel') | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
