:host {
  width: 100%;
  display: block;

  .aka-slider-content {
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;

    &.slider-with-thumb {
      ::ng-deep {
        aka-slider-item {
          .aka-slider-item-image-wrap div {
            background-size: auto;
          }
        }
      }
    }
  }

  .aka-slider-pagination {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 3px;
    z-index: 1;
  }

  .aka-slider-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //bottom: 16px;
    text-align: center;

    span {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #eee;
      margin: 0 2px;
      cursor: pointer;
      color: transparent;
      transition: all 0.3s ease-in-out;

      &.active, &:hover {
        @apply bg-primary-500;
      }
    }
  }

  .aka-slider-nav-left,
  .aka-slider-nav-right {
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -10px;
    cursor: pointer;
    color: var(--text-color-secondary);
    width: 20px;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
  }

  .aka-slider-nav-left {
    left: -2px;
  }

  .aka-slider-nav-right {
    right: -2px;
  }
}
