<div class="auth-container">
  <div class="auth-wrapper w-min">
    <div class="auth-content">
      <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
        <ng-container *ngIf="isSuccess; else formLayout">
          <!-- Title -->
          <div class="mt-8 text-4xl font-extrabold leading-tight tracking-tight">
            {{ 'pages.auth.resetPassword.success' | translate }}
          </div>
          <div class="mt-0.5 flex items-baseline font-medium">
            <div [innerHTML]="'pages.auth.resetPassword.passwordChanged' | translate: { count: count }"></div>
          </div>
        </ng-container>

        <ng-template #formLayout>
          <!-- Title -->
          <div class="mt-8 text-4xl font-extrabold leading-tight tracking-tight">
            {{ 'pages.auth.resetPassword.title' | translate }}
          </div>
          <div class="mt-0.5 flex items-baseline font-medium">
            {{ 'pages.auth.resetPassword.subtitle' | translate }}
          </div>

          <form role="form" [akaForm]="formData" (ngSubmit)="submit()" class="mt-8">
            <!-- New Password field -->
            <mat-form-field class="w-full" akaProps>
              <mat-label>{{ 'pages.auth.resetPassword.form.newPassword' | translate }}</mat-label>
              <input
                id="password"
                matInput
                type="password"
                name="password"
                [(ngModel)]="formData.password"
                autocomplete="false"
                akaAutofocus
                #passwordField
              />
              <button
                mat-icon-button
                type="button"
                (click)="
                  passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')
                "
                tabindex="-1"
                matSuffix
              >
                <mat-icon class="icon-size-5" [icIcon]="passwordField.type === 'password' ? 'eye' : 'eyeOff'"></mat-icon>
              </button>
            </mat-form-field>

            <!-- Confirm New Password field -->
            <mat-form-field class="w-full" akaProps>
              <mat-label>{{ 'pages.auth.resetPassword.form.confirmNewPassword' | translate }}</mat-label>
              <input
                id="passwordConfirm"
                matInput
                type="password"
                name="password_confirmation"
                [(ngModel)]="formData.password_confirmation"
                autocomplete="false"
                #passwordConfirmField
              />
              <button
                mat-icon-button
                type="button"
                (click)="
                  passwordConfirmField.type === 'password'
                    ? (passwordConfirmField.type = 'text')
                    : (passwordConfirmField.type = 'password')
                "
                tabindex="-1"
                matSuffix
              >
                <mat-icon
                  class="icon-size-5"
                  [icIcon]="passwordConfirmField.type === 'password' ? 'eye' : 'eyeOff'"
                ></mat-icon>
              </button>
            </mat-form-field>

            <!-- Submit button -->
            <button
              type="submit"
              class="aka-mat-button-large mt-6 w-full"
              mat-flat-button
              [color]="'primary'"
              [disabled]="formData.$disabled || formData.$loading"
              [akaLoading]="formData.$loading"
            >
              {{ 'general.button.save' | translate }}
            </button>
          </form>
        </ng-template>
      </div>
    </div>
  </div>
</div>
