<mat-toolbar class="gap-3 bg-transparent px-0">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
  </button> -->
  <a class="block text-primary-600" [routerLink]="['/home']">
    <span class="sr-only">Home</span>
    <img class="w-12" src="assets/images/logo/logo-primary.svg" alt="Logo image" />
  </a>

  <span class="flex-1"></span>

  <button mat-flat-button [routerLink]="['/restaurant']" color="accent">Login as Owner</button>

  <toggle-dark-mode [iconOnly]="true"></toggle-dark-mode>
</mat-toolbar>
