<aka-route-activator></aka-route-activator>

<div class="m-auto p-6">
  <form role="form" [akaForm]="formData">
    <div class="aka-form-row">
      <div class="flex w-full flex-col gap-4 md:max-w-xl">
        <div class="mb-3 flex w-full flex-col gap-4 sm:flex-row">
          <div>
            <mat-label class="font-medium">Restaurant Logo</mat-label>
            <div class="relative mt-1">
              <aka-image-upload
                class="profile-image"
                icon="outlineAddPhotoAlternate"
                editIcon="outlinePhotoCamera"
                (select)="setImage('logo', $event)"
                [image]="logo"
                [showHint]="false"
              ></aka-image-upload>
              <button
                *ngIf="logo"
                mat-mini-fab
                color="warn"
                class="delete-field"
                matTooltip="Delete Image"
                type="button"
                (click)="removeImage('logo')"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

          <div class="flex-1">
            <mat-label class="font-medium">Restaurant Banner</mat-label>
            <div class="relative mt-1">
              <aka-image-upload
                class="restaurant-banner-image"
                icon="outlineAddPhotoAlternate"
                editIcon="outlinePhotoCamera"
                (select)="setImage('banner', $event)"
                [image]="banner"
                [showHint]="false"
              ></aka-image-upload>
              <button
                *ngIf="banner"
                mat-mini-fab
                color="warn"
                class="delete-field"
                matTooltip="Delete Image"
                type="button"
                (click)="removeImage('banner')"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="flex-1">
          <mat-form-field class="w-full" akaProps>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="formData.name" name="name" />
          </mat-form-field>

          <mat-form-field class="w-full" akaProps>
            <mat-label>Description</mat-label>
            <textarea
              matInput
              [(ngModel)]="formData.description"
              name="description"
              placeholder="Enter your Restaurant description"
            ></textarea>
          </mat-form-field>

          <mat-form-field class="w-full" akaProps>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="formData.email" name="email" />
          </mat-form-field>

          <mat-form-field class="w-full" akaProps>
            <mat-label>Phone</mat-label>
            <input
              matInput
              [ngModel]="formData.phone | phoneNumber"
              (ngModelChange)="formData.phone = $event"
              name="phone"
            />
          </mat-form-field>

          <mat-form-field class="w-full" akaProps>
            <mat-label>Website</mat-label>
            <input matInput [(ngModel)]="formData.website" name="website" />
          </mat-form-field>
        </div>

        <!-- Start: Action Button -->
        <div class="flex flex-row justify-end gap-2">
          <!-- <a [routerLink]="['../']" mat-button>Cancel</a> -->
          <button
            mat-flat-button
            color="primary"
            type="button"
            [akaLoading]="formData.$loading"
            [disabled]="formData.$disabled || formData.$loading"
            (click)="submit()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
