:host {
  ::ng-deep {
    aka-image-upload {
      &.profile-image {
        .upload-section {
          ngx-dropzone {
            height: 142px;
            width: 142px;
          }
        }
      }

      &.restaurant-banner-image {
        .upload-section {
          ngx-dropzone {
            height: 142px;
            width: 100%;
          }
        }
      }
    }

    aka-card.h-full {
      .aka-card-wrap {
        height: 100%;
      }
    }
  }

  button {
    &.delete-field {
      position: absolute;
      top: -10px;
      right: -10px;
      z-index: 10;
      max-width: 25px;
      height: 25px !important;
      min-height: 15px;
      box-shadow: none !important;

      ::ng-deep {
        mat-icon {
          display: block;
          width: 13px;
          height: 13px;
          font-size: 13px;
          line-height: 13px;
        }
      }
    }
    }
}