<div class="aka-vertical-navigation-wrapper">

  <!-- Header -->
  <div class="aka-vertical-navigation-header">
    <ng-content select="[akaVerticalNavigationHeader]"></ng-content>
  </div>

  <!-- Content -->
  <div class="aka-vertical-navigation-content" akaScrollbar
    [akaScrollbarOptions]="{wheelPropagation: inner, suppressScrollX: true}" #navigationContent>

    <!-- Content header -->
    <div class="aka-vertical-navigation-content-header">
      <ng-content select="[akaVerticalNavigationContentHeader]"></ng-content>
    </div>

    <!-- Items -->
    <ng-container *ngFor="let item of navigation; trackBy: trackByFn">

      <!-- Skip the hidden items -->
      <ng-container *ngIf="(item.hidden && !item.hidden(item)) || !item.hidden">

        <ng-container *akaRole="item.roles">

          <ng-container *akaCan="item.permissions">

            <!-- Aside -->
            <aka-vertical-navigation-aside-item *ngIf="item.type === 'aside'" [item]="item" [name]="name"
              [activeItemId]="activeAsideItemId" [autoCollapse]="autoCollapse" [skipChildren]="true"
              (click)="toggleAside(item)"></aka-vertical-navigation-aside-item>

            <!-- Basic -->
            <aka-vertical-navigation-basic-item *ngIf="item.type === 'basic'" [item]="item" [name]="name">
            </aka-vertical-navigation-basic-item>

            <!-- Collapsable -->
            <aka-vertical-navigation-collapsable-item *ngIf="item.type === 'collapsable'" [item]="item" [name]="name"
              [autoCollapse]="autoCollapse"></aka-vertical-navigation-collapsable-item>

            <!-- Divider -->
            <aka-vertical-navigation-divider-item *ngIf="item.type === 'divider'" [item]="item" [name]="name">
            </aka-vertical-navigation-divider-item>

            <!-- Group -->
            <aka-vertical-navigation-group-item *ngIf="item.type === 'group'" [item]="item" [name]="name"
              [autoCollapse]="autoCollapse"></aka-vertical-navigation-group-item>

            <!-- Spacer -->
            <aka-vertical-navigation-spacer-item *ngIf="item.type === 'spacer'" [item]="item" [name]="name">
            </aka-vertical-navigation-spacer-item>

          </ng-container>

        </ng-container>

      </ng-container>

    </ng-container>

    <!-- Content footer -->
    <div class="aka-vertical-navigation-content-footer">
      <ng-content select="[akaVerticalNavigationContentFooter]"></ng-content>
    </div>

  </div>

  <!-- Footer -->
  <div class="aka-vertical-navigation-footer">
    <ng-content select="[akaVerticalNavigationFooter]"></ng-content>
  </div>

</div>

<!-- Aside -->
<div class="aka-vertical-navigation-aside-wrapper" *ngIf="activeAsideItemId" akaScrollbar
  [akaScrollbarOptions]="{wheelPropagation: false, suppressScrollX: true}" [@fadeInLeft]="position === 'left'"
  [@fadeInRight]="position === 'right'" [@fadeOutLeft]="position === 'left'" [@fadeOutRight]="position === 'right'">

  <!-- Items -->
  <ng-container *ngFor="let item of navigation; trackBy: trackByFn">

    <!-- Skip the hidden items -->
    <ng-container *ngIf="(item.hidden && !item.hidden(item)) || !item.hidden">

      <!-- Aside -->
      <aka-vertical-navigation-aside-item *ngIf="item.type === 'aside' && item.id === activeAsideItemId" [item]="item"
        [name]="name" [autoCollapse]="autoCollapse"></aka-vertical-navigation-aside-item>

    </ng-container>

  </ng-container>

</div>