<div class="absolute inset-0">
  <!-- Main -->
  <div class="flex h-full flex-auto flex-col items-center justify-center p-6 sm:p-10">
    <img class="max-h-120 min-h-0" src="assets/images/pages/errors/500.svg" alt="404 illustration" />
    <div class="mt-12 text-center text-4xl font-extrabold leading-tight tracking-tight sm:mt-24 md:text-7xl md:leading-none">
      Forbidden page!
    </div>
    <div class="text-secondary mt-2 text-center text-lg font-medium tracking-tight md:text-xl">
      Sorry but you don't have authorization to access this page.
    </div>
    <a class="mt-12 underline" [routerLink]="['/']">Back to Dashboard</a>
  </div>
</div>
