<button
  tabindex="-1"
  *ngIf="!iconOnly"
  mat-stroked-button
  class="aka-mat-dense rounded-full border-0 bg-gray-100 dark:text-default dark:bg-gray-800"
  (click)="toggle()"
>
  <mat-icon [icIcon]="isDarkTheme ? 'sunIcon' : 'moonIcon'" class="text-gray-600 dark:text-yellow-500"></mat-icon>
  <span class="text-default ml-2 text-md">{{ isDarkTheme ? 'Light Mode' : 'Dark Mode' }}</span>
</button>

<button
  tabindex="-1"
  *ngIf="iconOnly"
  mat-icon-button
  class="bg-gray-100 dark:text-default dark:bg-gray-800"
  (click)="toggle()"
>
  <mat-icon [icIcon]="isDarkTheme ? 'sunIcon' : 'moonIcon'" class="text-gray-600 dark:text-yellow-500"></mat-icon>
</button>
