<aka-dropdown-date-range
  [default]="'today'"
  (callback)="callbackDateRange($event)"
  class="daterange"
></aka-dropdown-date-range>

<div class="flex flex-col items-center gap-2 md:flex-row">
  <mat-form-field class="aka-mat-dense mb-0 w-full max-w-56">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="Search..." name="search" [(ngModel)]="search" (ngModelChange)="onSearchChange($event)" />
  </mat-form-field>

  <mat-form-field class="aka-mat-dense mb-0 w-full max-w-52">
    <mat-select
      name="variant"
      placeholder="Choose Status"
      [(ngModel)]="selectedStatus"
      (selectionChange)="onStatusChange($event)"
    >
      <mat-option [value]="option.value" *ngFor="let option of statuses">{{ option.label }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    [disabled]="isExportLoading || orderRes.isLoading || totalCount === 0"
    [akaLoading]="isExportLoading"
    (click)="exportToExcel()"
  >
    <mat-icon [icIcon]="'documentDownload'"></mat-icon>
    <span>Export to Excel</span>
  </button>

  <p *ngIf="!orderRes.isLoading && totalCount" class="text-lg font-medium">Total Orders: {{ totalCount || 0 }}</p>

  <div class="flex-1"></div>

  <div class="flex items-center gap-3" id="arrow-change-otb">
    <button mat-icon-button matTooltip="Previous" [disabled]="!prevEnabled || orderRes.isLoading" (click)="goTo('prev')">
      <mat-icon [icIcon]="'roundArrowBack'"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Next" [disabled]="!nextEnabled || orderRes.isLoading" (click)="goTo('next')">
      <mat-icon [icIcon]="'roundArrowForward'"></mat-icon>
    </button>
  </div>
</div>

<ng-container *ngIf="orderRes.isLoading; else doneFetching">
  <mat-spinner class="m-auto my-8" [diameter]="27"></mat-spinner>
</ng-container>

<ng-template #doneFetching>
  <ng-container *ngIf="(orderService.orders$ | async).length === 0; else orderList">
    <div class="m-auto flex h-full w-full flex-col items-center justify-center">
      <mat-icon class="icon-size-14">restaurant_menu</mat-icon>
      <p class="text-lg font-medium">No orders found.</p>
    </div>
  </ng-container>

  <ng-template #orderList>
    <div class="order-grid">
      <div *ngFor="let order of orderService.orders$ | async" class="order-card">
        <!-- <mat-spinner *ngIf="order.loading" [diameter]="27"></mat-spinner> -->

        <div class="mb-2 flex items-center justify-between">
          <aka-state-label [state]="order.status" class="medium"></aka-state-label>

          <button
            mat-icon-button
            class="aka-mat-button-small"
            color="primary"
            matTooltip="Show Details"
            (click)="showDetail(order)"
          >
            <mat-icon class="align-middle icon-size-4">visibility</mat-icon>
          </button>
        </div>

        <h2 class="mb-1 font-bold">{{ order.number }}</h2>

        <table border="0">
          <tr>
            <td style="vertical-align: middle; width: 25px">
              <mat-icon class="align-middle icon-size-4">person</mat-icon>
            </td>
            <td>{{ order.customer_name || '-' }}</td>
          </tr>
          <tr>
            <td style="vertical-align: middle; width: 25px">
              <mat-icon class="align-middle icon-size-4">lunch_dining</mat-icon>
            </td>
            <td>{{ order.items.length }} {{ order.items.length > 1 ? 'Items' : 'Item' }}</td>
          </tr>
          <tr>
            <td style="vertical-align: middle; width: 25px">
              <mat-icon class="align-middle icon-size-4" icIcon="outlineTableRestaurant"></mat-icon>
            </td>
            <td>{{ order.table.number }}</td>
          </tr>
          <tr>
            <td style="vertical-align: middle; width: 25px">
              <mat-icon class="align-middle icon-size-4">schedule</mat-icon>
            </td>
            <td><aka-date-time [date]="order.created_at"></aka-date-time></td>
          </tr>
        </table>

        <div *ngIf="isAbleToAction(order)" class="mt-2 flex flex-col items-center gap-3 md:flex-row">
          <ng-container *ngIf="order.status === 'waiting_approval'">
            <button
              mat-stroked-button
              color="warn"
              class="w-full"
              (click)="action(order, 'cancelled')"
              [disabled]="order.loading"
              [akaLoading]="order.loading"
            >
              Cancel
            </button>
            <button
              mat-flat-button
              color="primary"
              class="w-full"
              (click)="action(order, 'confirmed')"
              [disabled]="order.loading"
              [akaLoading]="order.loading"
            >
              Confirm
            </button>
          </ng-container>

          <ng-container *ngIf="order.status === 'confirmed'">
            <button
              mat-flat-button
              color="primary"
              class="w-full"
              (click)="action(order, 'preparing')"
              [disabled]="order.loading"
              [akaLoading]="order.loading"
            >
              Preparing
            </button>
          </ng-container>

          <ng-container *ngIf="order.status === 'preparing'">
            <button
              mat-flat-button
              color="primary"
              class="w-full"
              (click)="action(order, 'served')"
              [disabled]="order.loading"
              [akaLoading]="order.loading"
            >
              Served
            </button>
          </ng-container>

          <ng-container *ngIf="order.status === 'served'">
            <button
              mat-flat-button
              color="primary"
              class="w-full"
              (click)="action(order, 'waiting_payment')"
              [disabled]="order.loading"
              [akaLoading]="order.loading"
            >
              Waiting Payment
            </button>
          </ng-container>

          <ng-container *ngIf="order.status === 'waiting_payment'">
            <button
              mat-flat-button
              color="primary"
              class="w-full"
              (click)="action(order, 'completed')"
              [disabled]="order.loading"
              [akaLoading]="order.loading"
            >
              Completed
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>
