<div class="flex flex-col">
  <p class="mb-3">
    Make sure the location you mark on the map matches the address you entered, or start with the nearest building
  </p>

  <mat-form-field>
    <mat-icon matPrefix icIcon="searchIcon"></mat-icon>
    <input matInput #search autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="aka-mat-dense" />
  </mat-form-field>

  <div class="map-with-marker">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [usePanning]="true" (mapReady)="mapReady($event)">
      <agm-marker
        [latitude]="latitude"
        [longitude]="longitude"
        [markerDraggable]="true"
        [markerClickable]="true"
        (dragEnd)="markerDragEnd($event)"
      ></agm-marker>
    </agm-map>
  </div>

  <div class="mt-3 flex flex-col">
    <div class="mb-3">
      <p class="font-semibold">Address</p>
      <p>{{ address }}</p>

      <p class="mt-3 font-semibold">Latitude & Longitude</p>
      <p>{{ latitude }}, {{ longitude }}</p>
    </div>

    <button mat-flat-button color="primary" class="ml-auto" (click)="SubmitMap()">Choose This Location</button>
  </div>
</div>
