<aka-route-activator></aka-route-activator>
<aka-breadcrumb-actions [actions]="actionGroup"></aka-breadcrumb-actions>
<ps-metal-query [query]="query" [rowActions]="rowActions">
  <ps-metal-query-filter [query]="query"></ps-metal-query-filter>

  <ng-container psQCell="Name">
    <td psQCol *psQBody="let category; as: type">
      <a [routerLink]="['./' + category.id]">
        <span>{{ category.name }}</span>
      </a>
    </td>
  </ng-container>

  <ng-container psQCell="Created At">
    <td psQCol *psQBody="let category; as: type">
      <aka-date-time [date]="category.created_at"></aka-date-time>
    </td>
  </ng-container>
</ps-metal-query>

<aka-dialog #createDialog="akaDialog" class="small">
  <ng-container *akaDialogContent>
    <aka-category-form
      [record]="createDialog._data"
      (onClose)="createDialog.hide()"
      (onSuccess)="onSuccess()"
    ></aka-category-form>
  </ng-container>
</aka-dialog>
