<div class="aka-horizontal-navigation-wrapper">

  <ng-container *ngFor="let item of navigation">

    <!-- Skip the hidden items -->
    <ng-container *ngIf="(item.hidden && !item.hidden(item)) || !item.hidden">

      <!-- Basic -->
      <aka-horizontal-navigation-basic-item
        class="aka-horizontal-navigation-menu-item"
        *ngIf="item.type === 'basic'"
        [item]="item"
        [name]="name"></aka-horizontal-navigation-basic-item>

      <!-- Branch: aside, collapsable, group -->
      <aka-horizontal-navigation-branch-item
        class="aka-horizontal-navigation-menu-item"
        *ngIf="item.type === 'aside' || item.type === 'collapsable' || item.type === 'group'"
        [item]="item"
        [name]="name"></aka-horizontal-navigation-branch-item>

      <!-- Spacer -->
      <aka-horizontal-navigation-spacer-item
        class="aka-horizontal-navigation-menu-item"
        *ngIf="item.type === 'spacer'"
        [item]="item"
        [name]="name"></aka-horizontal-navigation-spacer-item>

    </ng-container>

  </ng-container>

</div>
