<aka-route-activator></aka-route-activator>
<aka-breadcrumb-actions [actions]="actionGroup"></aka-breadcrumb-actions>

<mat-drawer-container class="bg-card h-full flex-auto dark:bg-transparent" (backdropClick)="onBackdropClicked()">
  <!-- Drawer -->
  <mat-drawer
    class="w-full dark:bg-gray-900 sm:w-128"
    [mode]="drawerMode"
    [opened]="false"
    [position]="'end'"
    [disableClose]="true"
    #matDrawer
  >
    <router-outlet></router-outlet>
  </mat-drawer>

  <mat-drawer-content class="flex flex-col">
    <!-- Main -->
    <div class="flex flex-auto flex-col">
      <!-- Tasks list -->
      <ng-container *ngIf="categories && categories.length > 0; else noTasks"></ng-container>

      <ng-template #noTasks>
        <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
          <!-- <mat-icon
                          class="icon-size-24"
                          [icIcon]="'formatListBulleted'"></mat-icon> -->
          <div class="text-secondary mt-4 text-2xl font-semibold tracking-tight">Add a task to start planning!</div>
        </div>
      </ng-template>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
