:host {
  .aka-backdrop-loader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    @apply bg-white dark:bg-black dark:bg-opacity-50;

    &.no-backdrop {
      background-color: transparent;
      opacity: 1;
      position: relative;
    }
  }
}
